<div class="contenedor">
  <h1>Pronóstico del Clima</h1>
  <input type="text" [(ngModel)]="searchInput" id="searchInput" placeholder="Ingrese una ciudad">
  <button (click)="buscarClima()">Buscar</button>
  <div id="datosClima">
    <ng-container *ngIf="results.length > 0; else noResults">
      <div *ngFor="let city of results">
        <h2>{{ city.name }} , {{ city.sys.country }}</h2>
        <p>Temperatura : {{ calculador.floor(city.main.temp - difKelvin) }}°C</p>
        <p>Humedad : {{city.main.humidity}}%</p>
        <p>Estado meteorológico: {{ city.weather[0].description }}</p>
        <img src="https://openweathermap.org/img/wn/{{city.weather[0].icon}}@2x.png" alt="">
      </div>
    </ng-container>
    <ng-template #noResults>
      <p>No se encontró la ciudad</p>
    </ng-template>
  </div>
</div>
<router-outlet />